xkcd-script/font/*.ttf    linguist-generated=true
xkcd-script/font/*.woff   linguist-generated=true
xkcd-script/font/*.sfd    linguist-generated=true -diff
xkcd-script/samples/*.png linguist-generated=true
